# 프로그래밍3 프로젝트

소프트웨어응용학부 201904026 김수미

## 1. 데이터에 대한 설명

우선 제가 쓸 데이터는 https://github.com/choosunsick/KBO_data 에서 가지고 온 프로야구 데이터입니다.
<br>이 중에서 2010년부터 2018년까지의 KBO 경기 결과를 합쳐놓은 KBO_light 데이터를 사용합니다.
<br>
<br>

## 2. 데이터 탐색 및 분석 포인트 설명

### 2.1 데이터 탐색

데이터 탐색을 하기 전에 우선 필요한 것들을 import 해줍니다.

In [1]:
import pandas as pd
import numpy as np

그 다음, data 파일에 저장해놓은 KBO_light 데이터를 가지고 와서 head 함수를 이용하여 데이터를 확인합니다.

In [2]:
baseball = pd.read_csv('data/KBO_light.csv')

In [3]:
baseball.head()

               Date  구장 원정팀  원정팀점수  홈팀점수  홈팀 원정팀결과 홈팀결과    비고
0  2010-03-06 13:00  목동  LG      3     2  넥센     승    패  시범경기
1  2010-03-06 13:00  문학  두산      5     0  SK     승    패  시범경기
2  2010-03-06 13:00  대전  롯데     12     1  한화     승    패  시범경기
3  2010-03-06 13:00  무등  삼성      4     1  기아     승    패  시범경기
4  2010-03-07 13:00  목동  LG      1     2  넥센     패    승  시범경기

이 데이터는 날짜와 구장, 경기 팀과 점수 그리고 어떤 경기인지 알 수 있는 열로 구성되어 있다는 것을 알 수 있습니다.

In [4]:
# 행과 열의 수
baseball.shape

(6244, 9)

In [5]:
baseball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6244 entries, 0 to 6243
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6244 non-null   object
 1   구장      6244 non-null   object
 2   원정팀     6244 non-null   object
 3   원정팀점수   6244 non-null   int64
 4   홈팀점수    6244 non-null   int64
 5   홈팀      6244 non-null   object
 6   원정팀결과   6244 non-null   object
 7   홈팀결과    6244 non-null   object
 8   비고      6244 non-null   object
dtypes: int64(2), object(7)
memory usage: 439.2+ KB

In [6]:
baseball.describe().T

        count      mean       std  min  25%  50%  75%   max
원정팀점수  6244.0  5.086803  3.596966  0.0  2.0  4.0  7.0  25.0
홈팀점수   6244.0  5.036195  3.433397  0.0  2.0  4.0  7.0  22.0

점수들은 int형인 것을 알 수 있고, describe() 함수를 통해 각 점수들의 평균값과 최소 최댓값을 알 수 있습니다.

In [7]:
baseball.describe(include=['object']).T

      count unique               top  freq
Date   6244   1755  2015-05-13 18:30     5
구장     6244     17                잠실  1339
원정팀    6244     14                두산   722
홈팀     6244     14                삼성   695
원정팀결과  6244      3                 패  3188
홈팀결과   6244      3                 승  3188
비고     6244      7              정규시즌  5628

<여긴 질문하기> 왜 날짜는 저 날짜가 나온 건지 모르겠다.

object 타입 열들은 해당되는 것들이 freq에 나와있는 수 만큼 빈도수가 있다는 것을 알 수 있습니다.
<br><br>

In [8]:
baseball.isnull().sum().sum()

0

결측치가 아예 없는 것을 확인할 수 있습니다.
<br>
<br>

### 2.2 분석 포인트

제가 응원하는 팀인 '롯데'를 중심으로 데이터 분석을 할 것입니다.
<br> 그렇기 때문에 데이터 전처리 과정에서 '롯데'에 해당되는 데이터들만 추출해서 할 것입니다.
<br> 분석 포인트는 구장, 팀, 계절 그리고 점수분포입니다.

## 3. 데이터 분석 (전처리 및 정제, 시각화 등을 활용)

### 3.1 전처리 및 정제

In [2]:
baseball2 = pd.read_csv('data/KBO_light.csv', index_col='원정팀')

In [3]:
baseball3 = baseball2.loc['롯데',:]

In [4]:
baseball3

                 Date  구장  원정팀점수  홈팀점수  홈팀 원정팀결과 홈팀결과    비고
원정팀
롯데   2010-03-06 13:00  대전     12     1  한화     승    패  시범경기
롯데   2010-03-07 13:00  대전      4     1  한화     승    패  시범경기
롯데   2010-03-09 13:00  대구      5     3  삼성     승    패  시범경기
롯데   2010-03-12 13:00  문학      2     1  SK     승    패  시범경기
롯데   2010-03-13 13:00  무등      8     6  기아     승    패  시범경기
..                ...  ..    ...   ...  ..   ...  ...   ...
롯데   2018-10-04 18:30  대전      7     2  한화     승    패  정규시즌
롯데   2018-10-07 14:00  마산      8     2  NC     승    패  정규시즌
롯데   2018-10-11 18:30  광주      4     0  기아     승    패  정규시즌
롯데   2018-10-12 18:30  광주      4     6  기아     패    승  정규시즌
롯데   2018-10-13 17:00  광주      5     1  기아     승    패  정규시즌

[665 rows x 8 columns]

In [5]:
baseball4 = baseball3.reset_index(drop=True)

In [6]:
baseball4

                 Date  구장  원정팀점수  홈팀점수  홈팀 원정팀결과 홈팀결과    비고
0    2010-03-06 13:00  대전     12     1  한화     승    패  시범경기
1    2010-03-07 13:00  대전      4     1  한화     승    패  시범경기
2    2010-03-09 13:00  대구      5     3  삼성     승    패  시범경기
3    2010-03-12 13:00  문학      2     1  SK     승    패  시범경기
4    2010-03-13 13:00  무등      8     6  기아     승    패  시범경기
..                ...  ..    ...   ...  ..   ...  ...   ...
660  2018-10-04 18:30  대전      7     2  한화     승    패  정규시즌
661  2018-10-07 14:00  마산      8     2  NC     승    패  정규시즌
662  2018-10-11 18:30  광주      4     0  기아     승    패  정규시즌
663  2018-10-12 18:30  광주      4     6  기아     패    승  정규시즌
664  2018-10-13 17:00  광주      5     1  기아     승    패  정규시즌

[665 rows x 8 columns]

In [11]:
baseball5 = baseball4.drop(columns = ['홈팀점수','홈팀결과','비고'])

In [12]:
baseball5

                 Date  구장  원정팀점수  홈팀 원정팀결과
0    2010-03-06 13:00  대전     12  한화     승
1    2010-03-07 13:00  대전      4  한화     승
2    2010-03-09 13:00  대구      5  삼성     승
3    2010-03-12 13:00  문학      2  SK     승
4    2010-03-13 13:00  무등      8  기아     승
..                ...  ..    ...  ..   ...
660  2018-10-04 18:30  대전      7  한화     승
661  2018-10-07 14:00  마산      8  NC     승
662  2018-10-11 18:30  광주      4  기아     승
663  2018-10-12 18:30  광주      4  기아     패
664  2018-10-13 17:00  광주      5  기아     승

[665 rows x 5 columns]

In [15]:
col_map = {'원정팀점수':'점수',
 '홈팀': '상대팀', '원정팀결과':'결과'}
baseball6 = baseball5.rename(columns=col_map)

In [16]:
baseball6

                 Date  구장  점수 상대팀 결과
0    2010-03-06 13:00  대전  12  한화  승
1    2010-03-07 13:00  대전   4  한화  승
2    2010-03-09 13:00  대구   5  삼성  승
3    2010-03-12 13:00  문학   2  SK  승
4    2010-03-13 13:00  무등   8  기아  승
..                ...  ..  ..  .. ..
660  2018-10-04 18:30  대전   7  한화  승
661  2018-10-07 14:00  마산   8  NC  승
662  2018-10-11 18:30  광주   4  기아  승
663  2018-10-12 18:30  광주   4  기아  패
664  2018-10-13 17:00  광주   5  기아  승

[665 rows x 5 columns]

In [17]:
baseball7 = pd.read_csv('data/KBO_light.csv', index_col='홈팀')

In [18]:
baseball7

                Date  구장 원정팀  원정팀점수  홈팀점수 원정팀결과 홈팀결과     비고
홈팀
넥센  2010-03-06 13:00  목동  LG      3     2     승    패   시범경기
SK  2010-03-06 13:00  문학  두산      5     0     승    패   시범경기
한화  2010-03-06 13:00  대전  롯데     12     1     승    패   시범경기
기아  2010-03-06 13:00  무등  삼성      4     1     승    패   시범경기
넥센  2010-03-07 13:00  목동  LG      1     2     패    승   시범경기
..               ...  ..  ..    ...   ...   ...  ...    ...
두산  2018-11-05 18:30  잠실  SK      3     7     패    승  한국시리즈
SK  2018-11-07 18:30  문학  두산      2     7     패    승  한국시리즈
SK  2018-11-09 18:30  문학  두산      2     1     승    패  한국시리즈
SK  2018-11-10 14:00  문학  두산      1     4     패    승  한국시리즈
두산  2018-11-12 18:30  잠실  SK      5     4     승    패  한국시리즈

[6244 rows x 8 columns]

In [19]:
baseball8 = baseball7.loc['롯데',:]

In [20]:
baseball8

                Date  구장 원정팀  원정팀점수  홈팀점수 원정팀결과 홈팀결과    비고
홈팀
롯데  2010-03-16 13:00  사직  LG      3     5     패    승  시범경기
롯데  2010-03-17 13:00  사직  LG      2    11     패    승  시범경기
롯데  2010-03-18 13:00  사직  넥센      3     5     패    승  시범경기
롯데  2010-03-19 13:00  사직  넥센      0     7     패    승  시범경기
롯데  2010-03-20 13:00  사직  두산      5     3     승    패  시범경기
..               ...  ..  ..    ...   ...   ...  ...   ...
롯데  2018-10-06 17:00  사직  한화      5     8     패    승  정규시즌
롯데  2018-10-09 14:00  사직  기아     10    11     패    승  정규시즌
롯데  2018-10-10 15:00  사직  KT     10     1     승    패  정규시즌
롯데  2018-10-10 18:22  사직  KT      7     0     승    패  정규시즌
롯데  2018-10-14 14:00  사직  두산      5     1     승    패  정규시즌

[694 rows x 8 columns]

In [21]:
baseball9 = baseball8.reset_index(drop=True)

In [22]:
baseball10 = baseball9.drop(columns = ['원정팀점수','원정팀결과','비고'])

In [23]:
baseball10

                 Date  구장 원정팀  홈팀점수 홈팀결과
0    2010-03-16 13:00  사직  LG     5    승
1    2010-03-17 13:00  사직  LG    11    승
2    2010-03-18 13:00  사직  넥센     5    승
3    2010-03-19 13:00  사직  넥센     7    승
4    2010-03-20 13:00  사직  두산     3    패
..                ...  ..  ..   ...  ...
689  2018-10-06 17:00  사직  한화     8    승
690  2018-10-09 14:00  사직  기아    11    승
691  2018-10-10 15:00  사직  KT     1    패
692  2018-10-10 18:22  사직  KT     0    패
693  2018-10-14 14:00  사직  두산     1    패

[694 rows x 5 columns]

In [24]:
col_map = {'홈팀점수':'점수',
 '원정팀': '상대팀', '홈팀결과':'결과'}
baseball11 = baseball10.rename(columns=col_map)

In [87]:
baseball11

                 Date  구장 상대팀  점수 결과
0    2010-03-16 13:00  사직  LG   5  승
1    2010-03-17 13:00  사직  LG  11  승
2    2010-03-18 13:00  사직  넥센   5  승
3    2010-03-19 13:00  사직  넥센   7  승
4    2010-03-20 13:00  사직  두산   3  패
..                ...  ..  ..  .. ..
689  2018-10-06 17:00  사직  한화   8  승
690  2018-10-09 14:00  사직  기아  11  승
691  2018-10-10 15:00  사직  KT   1  패
692  2018-10-10 18:22  사직  KT   0  패
693  2018-10-14 14:00  사직  두산   1  패

[694 rows x 5 columns]

In [88]:
baseball6

                 Date  구장  점수 상대팀 결과
0    2010-03-06 13:00  대전  12  한화  승
1    2010-03-07 13:00  대전   4  한화  승
2    2010-03-09 13:00  대구   5  삼성  승
3    2010-03-12 13:00  문학   2  SK  승
4    2010-03-13 13:00  무등   8  기아  승
..                ...  ..  ..  .. ..
660  2018-10-04 18:30  대전   7  한화  승
661  2018-10-07 14:00  마산   8  NC  승
662  2018-10-11 18:30  광주   4  기아  승
663  2018-10-12 18:30  광주   4  기아  패
664  2018-10-13 17:00  광주   5  기아  승

[665 rows x 5 columns]

In [56]:
result = pd.concat([baseball6, baseball11], ignore_index=True)

In [57]:
result

                  Date  구장  점수 상대팀 결과
0     2010-03-06 13:00  대전  12  한화  승
1     2010-03-07 13:00  대전   4  한화  승
2     2010-03-09 13:00  대구   5  삼성  승
3     2010-03-12 13:00  문학   2  SK  승
4     2010-03-13 13:00  무등   8  기아  승
...                ...  ..  ..  .. ..
1354  2018-10-06 17:00  사직   8  한화  승
1355  2018-10-09 14:00  사직  11  기아  승
1356  2018-10-10 15:00  사직   1  KT  패
1357  2018-10-10 18:22  사직   0  KT  패
1358  2018-10-14 14:00  사직   1  두산  패

[1359 rows x 5 columns]

In [59]:
result['년도'] = ''

In [61]:
result['계절'] = ''

In [62]:
result

                  Date  구장  점수 상대팀 결과 년도 계절
0     2010-03-06 13:00  대전  12  한화  승
1     2010-03-07 13:00  대전   4  한화  승
2     2010-03-09 13:00  대구   5  삼성  승
3     2010-03-12 13:00  문학   2  SK  승
4     2010-03-13 13:00  무등   8  기아  승
...                ...  ..  ..  .. .. .. ..
1354  2018-10-06 17:00  사직   8  한화  승
1355  2018-10-09 14:00  사직  11  기아  승
1356  2018-10-10 15:00  사직   1  KT  패
1357  2018-10-10 18:22  사직   0  KT  패
1358  2018-10-14 14:00  사직   1  두산  패

[1359 rows x 7 columns]

In [78]:
year = 0
month = 0
day = 0

for i in range(len(result)):
    row = result.iloc[i, :]
    #print(row)
    year = row[0].split('-')[0]
    month = row[0].split('-')[1]
    day = row[0].split('-')[2]
    #print(year)
    #print(month)
    #print(day)
    if year == '2010':
        row[5] = 2010
    elif year == '2011':
        row[5] = 2011
    elif year == '2012':
        row[5] = 2012
    elif year == '2013':
        row[5] = 2013   
    elif year == '2014':
        row[5] = 2014 
    elif year == '2015':
        row[5] = 2015      
    elif year == '2016':
        row[5] = 2016    
    elif year == '2017':
        row[5] = 2017     
    elif year == '2018':
        row[5] = 2018
    if month == '03' or month == '04' or month == '05':
        row[6] = '봄'
    if month == '06' or month == '07' or month == '08':
        row[6] = '여름'
    if month == '09' or month == '10':
        row[6] = '가을' 


    result.iloc[i] = row

<ipython-input-78-ed32dd66c7e4>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2010
<ipython-input-78-ed32dd66c7e4>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[6] = '봄'
<ipython-input-78-ed32dd66c7e4>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[6] = '여름'
<ipython-input-78-ed32dd66c7e4>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[6] = '가을'
<ipython-input-78-ed32dd66c7e4>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2011
<ipython-input-78-ed32dd66c7e4>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2012
<ipython-input-78-ed32dd66c7e4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2013
<ipython-input-78-ed32dd66c7e4>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2014
<ipython-input-78-ed32dd66c7e4>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2015
<ipython-input-78-ed32dd66c7e4>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2016
<ipython-input-78-ed32dd66c7e4>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2017
<ipython-input-78-ed32dd66c7e4>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[5] = 2018

In [79]:
result

                  Date  구장  점수 상대팀 결과    년도  계절
0     2010-03-06 13:00  대전  12  한화  승  2010   봄
1     2010-03-07 13:00  대전   4  한화  승  2010   봄
2     2010-03-09 13:00  대구   5  삼성  승  2010   봄
3     2010-03-12 13:00  문학   2  SK  승  2010   봄
4     2010-03-13 13:00  무등   8  기아  승  2010   봄
...                ...  ..  ..  .. ..   ...  ..
1354  2018-10-06 17:00  사직   8  한화  승  2018  가을
1355  2018-10-09 14:00  사직  11  기아  승  2018  가을
1356  2018-10-10 15:00  사직   1  KT  패  2018  가을
1357  2018-10-10 18:22  사직   0  KT  패  2018  가을
1358  2018-10-14 14:00  사직   1  두산  패  2018  가을

[1359 rows x 7 columns]

In [82]:
result.dtypes

Date    object
구장      object
점수       int64
상대팀     object
결과      object
년도      object
계절      object
dtype: object

In [85]:
result['년도'] = result['년도'].astype('int16')

In [86]:
result.dtypes

Date    object
구장      object
점수       int64
상대팀     object
결과      object
년도       int16
계절      object
dtype: object

In [99]:
result.columns

Index(['Date', '구장', '점수', '상대팀', '결과', '년도', '계절'], dtype='object')

In [102]:
result2 = result.drop(columns = ['Date'])

In [103]:
result2

      구장  점수 상대팀 결과    년도  계절
0     대전  12  한화  승  2010   봄
1     대전   4  한화  승  2010   봄
2     대구   5  삼성  승  2010   봄
3     문학   2  SK  승  2010   봄
4     무등   8  기아  승  2010   봄
...   ..  ..  .. ..   ...  ..
1354  사직   8  한화  승  2018  가을
1355  사직  11  기아  승  2018  가을
1356  사직   1  KT  패  2018  가을
1357  사직   0  KT  패  2018  가을
1358  사직   1  두산  패  2018  가을

[1359 rows x 6 columns]